@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
  padding: 0;
  font-family: "PT Mono", monospace;
  background-color: #00543c;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  background: #00543c;
  height: 100px;
}

.hc {
  display: flex;
  align-items: center;
}

.hc .head {
  height: 100%;
}

header img {
  height: 100PX;
}

.menu {
  width: 100%;
  display: flex;
  height: 70%;
  justify-content: space-evenly;
}

.menu h2 {
  padding-left: 1%;
}

.menu div {
  padding: 0.5%;
  width: inherit;
  font-size: 3vh;
}

.menu1 {
  color: white;
  background: #2b00a4;
}

.menu2 {
  color: #000;
  background: rgb(255, 255, 255);
}

.menu3 {
  color: white;
  background: rgb(177, 0, 0);

}

.abram {
  width: 100%;
  height: 10%;
}


.abram #abr {
  width: 100%;
}

footer {
  padding-left: 3%;
  height: 14%;
  display: flex;
  font: 1.2em "Lobster";
  justify-content: space-between;
  background: #00543c;
}

footer h2 {
  opacity: 0.3;
  color: #fff;
}

footer img {
  height: 150px;
}

.txt {
  color: white;
  padding-left: 100px;
}

.baretsky {
  display: flex;
  justify-content: center;
  width: auto;
}

.baretsky img {
  width: 500px;
  height: 300px;
  transition-duration: 1.5s;
  clip-path: inset(0 16% 0 16%);
}

.baretsky img:hover {
  width: 80vw;
  transform: rotate(720deg);
  height: 40vh;
}
.prepod{
  /* margin-left: 100px; */
  height: 179px;
  width: 250px;
}
.prep{
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
}
.putin{
  padding-top: 50px;

  display: flex;
  justify-content: center;
  width: 100%;
}