{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="{% static 'style/main.css'%}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/main_ico.ico'%}" type="image/x-icon">
</head>
<body class="aut_body">
        <h1 class="text">Your shopping cart</h1>
        <div class="">
          <div class="">
            <div class="">
              <div class="">
                <div class="card">
                {% for item in cart %}
                    {% with product=item.product %}
                  <div class="">
                    <div class="">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="" src="{% if product.href_img %}{{ product.href_img.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                        </a>
                    </div>
                    <div class="">
                      <div>
                        <p class="">Name</p>
                        <p class="">{{ product.name }}</p>
                      </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Amount of hours</p>
                        <p class="lead fw-normal mb-0">{{ item.quantity }}</p>
                      </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Price</p>
                        <p class="lead fw-normal mb-0">{{ item.price }} рублей</p>
                      </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Total</p>
                        <p class="lead fw-normal mb-0">{{ item.total_price }} рублей</p>
                      </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <a href="{% url 'cart:cart_remove' product.id %}"><button class="newbutton">Remove</button></a>
                    </div>
                </div>
                  {% endwith %}
                {% endfor %}
                </div>
              </div>      
              <div class="d-flex justify-content-end">
                <a href="{% url 'hello:room_list' %}" type="button" class="btn btn-light btn-lg me-2"><button class="newbutton">Continue shopping</button></a>
                <a href="{% url 'orders:order_create' %}" type="button" class="btn btn-primary btn-lg"><button class="newbutton">Add to cart</button></a>
              </div>
            </div>
          </div>
        </div>
      </body>
