<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/main.css'%}" type="text/css">
</head>
<body class="aut_body">
    <h1 class="text">Здравствуй, {{user.username|default:"Гость"}}</h1>
    <div id="homediv">
        {% if user.is_authenticated %}
        <a class="text" href="{% url 'logout' %}">Выйти</a>
        <a class="text" href="/">Назад на главную страницу</a>
        {% else %}
        <a class="text" href="{% url 'signup' %}"><br>Зарегистрироваться<br></a>
        <a class="text" href="{% url 'login' %}"><br>Войти</a>
        {% endif %}
    </div>
</body>
</html>