<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/main.css'%}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/main_ico.ico'%}" type="image/x-icon">
</head>

<body>
    <header>
        <a href="main_menu.html"><img src="{% static 'images/kirieshki.png'%}" alt="Кириешки" id="kirieshka_pic"></a>
    </header>
    <div class="images_about">
        <img src="{% static 'images/coffee.webp'%}">
    </div>
    <div class="images_about">
        <img src="{% static 'images/coffee2.jpg'%}">
    </div>
    <div class="images_about">
        <img src="{% static 'images/coffee3.jpg'%}">
    </div>
    <div id="text_o_nas">
            <p>Ценовая расценка:<br>Будни: час - 100 рублей<br>Выходные: час - 150 рублей<br>Стопчек - 500 рублей<br> Стопчек для студентов - 300 рублей</p>
    </div>
    {% include 'includes/footer.html' %}
</body>

</html>