@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
*>a{
  color: #000;
  text-decoration: none;
}
#psy{
  color: white;
}
body {
  padding: 0;
  font-family: "PT Mono", monospace;
  background-color: #00543c;
  margin: 0;
  overflow-x: hidden;
  display: grid;
}

header {
  width: 100%;
  color: #fff;
  display: grid;
  background: #00543c;
  height: 20vh;
  grid-template-rows: 1fr;
}

.hc {
  display: grid;
  grid-template-columns: 1fr 4fr; 
}

.hc .head {
  height: 100%;
  font-size: 3.5vh;
}

header img {
  height: 20vh;
}

.menu {
  width: 100%;
  display: grid;
  height: 70%;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu h2 {
  padding-left: 1%;
}

.menu div {
  padding: 0.5%;
  width: inherit;
  font-size: 3vh;
}

.menu1 {
  color: white;
  background: #2b00a4;
}

.menu2 {
  color: #000;
  background: rgb(255, 255, 255);
}

.menu3 {
  color: white;
  background: rgb(177, 0, 0);
}

.abram {
  width: 100%;
  display: grid;
  height: 10%;
}


.abram #abr {
  width: 100%;
}

footer {
  padding-left: 3%;
  height: 14%;
  display: grid;
  font: 3.5vh "Lobster";
  background: #00543c;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
}

footer h2 {
  opacity: 0.3;
  color: #fff;
}

footer img {
  height: 20vh;
}

.txt {
  color: white;
  padding-left: 10vw;
  font-size: 3.5vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}


.baretsky {
  display: grid;
  align-self: center;
  justify-self: center;
  width: auto;
}

.baretsky img {
  width: 100vw;
  height: 60vh;
  transition-duration: 1.5s;
  clip-path: inset(0 16% 0 16%);
}

.baretsky img:hover {
  width: 80vw;
  transform: rotate(720deg);
  height: 40vh;
}
.prepod{
  height: 25vh;
  width: 25vw;
}
.prep{
  display: grid;
  gap: 10px;
}
.putin{
  padding-top: 3vh;
  display: grid;
}
.putin2{
  width: 50vw;
  height: 75vh;
  align-self: center;
  justify-self: center;
}
.divs{
  display: grid;
  gap: 10vw;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
}
.divs >  div{
  padding: 0%;
}
.shaman{
  width: 0px;
  height: 0px;
}

@media only screen and (min-device-width:0px) and (max-device-width: 812px)and (orientation: portrait) {
.menu{
  display: flex;
  flex-wrap: wrap;  
}
.hc .head {
  height: 100%;
  font-size: 2vh;
}
header img{
  height: 10vh;
}
header{
  height: 11vh;
}
footer{
  font: 2vh "Lobster";
}
.menu1 {
  color: rgb(0, 10, 147);
  background: #ffffff;
}
.menu2{
  color: white;
  background: blue;
}
.abcd{
  color: white;
}
.divs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.txt{
  padding-left: 0px;
}
.shaman{
  height: 0px;
  width: 0px;
}
}
@media screen and (device-width: 360px)and (device-height: 640px) and (orientation: portrait) {
  .div1{
    background-color: blue;
    height: 50px;
  }
  .div2{
    background-color: yellow;
    height: 50px;
  }
  .hc .head{
    font-size: 4vh;
  }
}
@media only screen and (min-device-width: 812px) and (max-device-width: 1024px)and (orientation: portrait) {
  .shaman{
    width: 100%;
    height: 100%;
  }
}