{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный чек</title>
    <link rel="stylesheet" href="{% static 'style/main.css'%}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/main_ico.ico'%}" type="image/x-icon">
</head>
<body class="aut_body">
<p class="text">Чек был отправлен на почту nidhappy@mail.ru</p>
</body>